*{
    box-sizing: border-box;
  }

body{
    background-image: url('../images/conan.png');
    font-family: 'Lucida Console', monospace;
    width: 960px;
}

.crystal-image{
    height: 100px;
    width: 100px;
  }
  
  .play-button{
    color:black;
    margin-left: 25px;
    padding: 5px;
    background-color: lightgray;
    font-size: 15px;
  }

  .card-header{
    color: white;
    background-color: black;
    border-width: 3px;
    border-color: black;
    border-style: dashed;
  }

  