body{
    background-image: url('../images/conan.png');
    background-size: 960px;
}

.crystal-image{
    height: 100px;
    width: 100px;
  }
  
  .play-button{
    color:black;
    margin-left: 25px;
    padding: 5px;
    background-color: lightgray;
  }